body
{
	margin: 0px 0px;
	padding: 0px 0px;
	background-image: url("../images/background.png");
	background-repeat: repeat;
}
.maindiv
{
	margin: 20px;
	padding: 20px;
	width: 95%;
	height: auto;
	background-color: #6f7b82;
}
.header
{
	margin: 0px 0px 10px 0px;
	min-height: 80px;
	background-image: url("../images/banner.png");
	background-repeat: inherit;
	background-position: center;
	border: solid 1px black;
}
.middlediv
{
	margin: 0px auto;
	padding: 10px;
	height: auto;
	border: solid 5px #989696;
	background-color: #D4D4D4;
}
.centerdiv
{
	text-align: center;
}

.ajax__tab_xp .ajax__tab_body
{
	min-height: 350px;
}
.ajax__tab_default .ajax__tab_tab
{
	color: Black;
}
.txtSingle
{
	width: 100%;
	border: solid 1px #989696;
	height: 20px;
	font: normal normal lighter 12px Tahoma;
}
.txtSingleGreen
{
	width: 100%;
	border: solid 1px #989696;
	height: 20px;
	font: normal normal lighter 12px Tahoma;
	background-color: #D4D4D4;
}
.txtMultiline
{
	width: 100%;
	height: 250px;
	border: solid 1px #989696;
	font: normal normal lighter 12px Tahoma;
	text-align: left;
	vertical-align: top;
}
.txtMultilineGreen
{
	width: 100%;
	height: 250px;
	border: solid 1px #989696;
	font: normal normal lighter 12px Tahoma;
	text-align: left;
	vertical-align: top;
	background-color: #D4D4D4;
}
.btn
{
	min-width: 100px;
	min-height: 50px;
	background-color: #989696;
	border: solid 1px #D4D4D4;
	font: normal normal bold 16px Tahoma;
	color: White;
}
.btnsmall
{
	min-height: 30px;
	background-color: #989696;
	border: solid 1px #D4D4D4;
	font: normal normal bold 12px Tahoma;
	color: White;
}
.logo
{
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.information
{
	width: 100%;
	height: auto;
	border: #475c24 4px solid;
	border-radius: 4px;
	text-align: center;
}
.span
{
	font-size: 12px;
	color: #c85e28;
	font-family: Arial, Helvetica, sans-serif;
}
.error-message
{
	font-size: 12px;
	color: Red;
	font-family: Arial, Helvetica, sans-serif;
}
.headercss th
{
	padding: 5px 0 5px 5px;
	font-weight: bold;
	background-color: #EAEAEA;
	height: 32px;
	vertical-align: middle;
}
.headercss a
{
	font-weight: bold;
	color: #898989;
	text-decoration: none;
}
.headercss a:hover
{
	text-decoration: underline;
}
.rowcss td
{
	border-bottom: 1px solid #DADADA;
	border-top: 1px solid #FFFFFF;
	height: 30px;
	vertical-align: middle;
}
.rowcss td tr:hover
{
	background-color: #EAEAEA;
	border-bottom: 1px solid #CACACA;
	border-top: 1px solid #E2E2E2;
}
.altrowcss td
{
	border-bottom: 1px solid #DADADA;
	border-top: 1px solid #FFFFFF;
	height: 30px;
	vertical-align: middle;
	background-color: #F0F0F0;
}

/** Pagination**/
.pagination
{
	text-align: right;
	margin: 10px -7px 10px 10px; /*[empty]border:;*/
}
.pagination table
{
	padding-left: 5px;
	width: auto;
}
.pagination table td
{
	padding: 2px 2px 2px 2px;
}
.pagination table td span
{
	padding: 0px 5px 0px 5px;
	background: url(img/buttons.png) left -68px;
	border: 1px solid #3580A9; /*+text-shadow:0px -1px 0px #2C6AA3;*/
	-moz-text-shadow: 0px -1px 0px #2C6AA3;
	-webkit-text-shadow: 0px -1px 0px #2C6AA3;
	-o-text-shadow: 0px -1px 0px #2C6AA3;
	text-shadow: 0px -1px 0px #2C6AA3;
	color: #D4E6EF;
	font-weight: bold;
}
.pagination a
{
	display: inline-block;
	height: 20px;
	width: 20px;
	line-height: 20px;
	margin: 0 1px 0 0;
	border: 1px solid #DAD9D9;
	text-align: center;
	text-decoration: none;
	color: #646161; /*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}
.pagination a.next, .pagination a.prev
{
	border: 1px solid #FFFFFF;
}
.pagination a.current, .pagination a:hover
{
	background: url(img/buttons.png) left -68px;
	border: 1px solid #3580A9; /*+text-shadow:0px -1px 0px #2C6AA3;*/
	-moz-text-shadow: 0px -1px 0px #2C6AA3;
	-webkit-text-shadow: 0px -1px 0px #2C6AA3;
	-o-text-shadow: 0px -1px 0px #2C6AA3;
	text-shadow: 0px -1px 0px #2C6AA3;
	color: #D4E6EF;
	font-weight: bold;
}
.pagination a.next:hover, .pagination a.prev:hover
{
	background: none; /*+text-shadow:none;*/
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	-o-text-shadow: none;
	text-shadow: none;
	color: #646161;
	font-weight: normal;
	border-color: #F7F7F7;
}
