<?php
$identifier = $this->getRequest()->getParam('identifier');
$articlecoll = Mage::getModel('kbase/kbase')->getCollection();
$articlecoll->addFieldToFilter('identifier', $identifier);
$articlecoll = $articlecoll->getData();
$id = $articlecoll[0]['kbase_id'];
$artical = Mage::getModel('kbase/kbase')->load($id);
$category = Mage::getModel('kbase/cat')->load($artical['categories']);
?>
<h1>
    <?php
    if (Mage::getStoreConfig('kbaseoptions/general/title')):
        echo $this->__(Mage::getStoreConfig('kbaseoptions/general/title'));
    else: echo $this->__('Knowledge Base');
    endif;
    ?> 
</h1>
<?php if (Mage::getStoreConfig('kbaseoptions/search/enable')): ?>
    <div class="kbase-block kbase-main-search">
        <h2 class="kbase-block-title">
            <?php
            if (Mage::getStoreConfig('kbaseoptions/search/title')):
                echo $this->__(Mage::getStoreConfig('kbaseoptions/search/title'));
            else:
                echo $this->__('Search Knowledge Base');
            endif;
            ?> 
        </h2>
        <?php $url = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK) . "kbase/search/"; ?>
        <form method="post" name="searchfrm">
            <input type="text" value="" name="query" id="kbase_search_input">
            <button class="button form-button" title="Search" type="button" onclick="callsearch('<?php echo $url; ?>')"><span><span>Search</span></span></button>
        </form>
    </div>
<?php endif;
?>
<?php
$breadcrumbs = $this->getLayout()->getBlock('breadcrumbs');

$breadcrumbs->addCrumb('home', array('label' => Mage::helper('cms')->__('Home'), 'title' => Mage::helper('cms')->__('Home Page'), 'link' => Mage::getBaseUrl()));

$breadcrumbs->addCrumb('kbase', array('label' => 'Knowledge Base', 'title' => 'Knowledge Base', 'link' => Mage::getBaseUrl() . "kbase"));

$breadcrumbs->addCrumb('category', array('label' => $category['name'], 'title' => $category['name'], 'link' => Mage::getBaseUrl() . "kbase/category/" . $category['identifier']));

$breadcrumbs->addCrumb('article', array('label' => $artical['title'], 'title' => $artical['title']));

echo $this->getLayout()->getBlock('breadcrumbs')->toHtml();
?>

<h2 style="padding-top:20px;"><?php echo $artical['title']; ?></h2>
<p><?php
    echo $this->__("Posted on: ");
    echo Mage::helper('core')->formatDate($artical['update_time'], Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM)
    ?></p>
<div class="kbase-block kbase-main-latest span9">
    <?php echo $artical['contents']; ?>
</div>
<div class="contact-sidebar span3">
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('sidebar-contactus')->toHtml() ?> 
</div>

<?php
$rates = Mage::getModel('kbase/totalrating')->getCollection();
$rates->addFieldToFilter('articleid', $id);
$rate = $rates->getData();

if (Mage::getStoreConfig('kbaseoptions/general/enabledrating')):
    ?>
    <div class="kbase-article-rating">
        <div style="float:left; width: 130px;">
            <span><?php echo $this->__('Rating:'); ?>
            </span>
            <div class = "rating-box">
                <div class = "rating" style = "width: <?php echo $rate[0]['ratepercentage'] . '%'; ?>"></div>
            </div>
        </div>
        <?php
        if ($this->helper('customer')->isLoggedIn()):
            $customer = Mage::helper('customer')->getCustomer()->getData();
            $ratingcoll = Mage::getModel('kbase/rating')->getCollection();
            $ratingcoll->addFieldToFilter('articleid', $id);
            $ratingcoll->addFieldToFilter('customerid', $customer['entity_id']);
            if (!count($ratingcoll)):
                ?>
                <div style="float:right;">
                    <form method="post" action="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK) . 'kbase/vote/'; ?>">
                        <label for="rating">Rate this article:</label>
                        <input type="hidden" value="<?php echo $identifier; ?>" name="identifier">
                        <input type="hidden" value="<?php echo $id; ?>" name="articleid">
                        <input type="hidden" value="<?php echo $artical['title']; ?>" name="articletitle">
                        <input type="hidden" value="<?php echo $customer['entity_id']; ?>" name="custid">
                        <input type="hidden" value="<?php echo $customer['firstname']; ?>" name="custname">
                        <select id="rating" name="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <button type="submit" title="Vote" class="button form-button"><span><span>Vote</span></span></button>
                    </form>
                </div>
                <?php
            endif;
        else:
            echo "<p>You must be logged in to rate an article <a href=" . Mage::helper('customer')->getLoginUrl() . ">click here</a> to log in</p>";
        endif;
        ?>
    </div>
    <?php
endif;
?>

<script type="text/javascript">
    function callsearch(url)
    {
        var query = document.getElementById('kbase_search_input').value;
        if (query === "")
        {
            return false;
        }
        document.searchfrm.action = url + query;
        document.searchfrm.submit();
    }
</script>    