
<h1>
    <?php
    if (Mage::getStoreConfig('kbaseoptions/general/title')):
        echo $this->__(Mage::getStoreConfig('kbaseoptions/general/title'));
    else:
        echo $this->__('Knowledge Base');
    endif;
    ?> 
</h1>
<?php if (Mage::getStoreConfig('kbaseoptions/search/enable')): ?>
    <div class="kbase-block kbase-main-search">
        <h2 class="kbase-block-title">
            <?php
            if (Mage::getStoreConfig('kbaseoptions/search/title')):
                echo $this->__(Mage::getStoreConfig('kbaseoptions/search/title'));
            else:
                echo $this->__('Search Knowledge Base');
            endif;
            ?> 
        </h2>
        <?php $url = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK) . "kbase/search/"; ?>
        <form method="post" name="searchfrm">
            <input type="text" value="" name="query" id="kbase_search_input">
            <button class="button form-button" title="Search" type="submit" onclick="callsearch('<?php echo $url; ?>')"><span><span>Search</span></span></button>
        </form>
    </div>
<?php endif;
?>
<?php
// =========== code for category block =================================
if (Mage::getStoreConfig('kbaseoptions/cat/enable')):
    ?>
    <?php
    $pgsize = Mage::getStoreConfig('kbaseoptions/cat/noofarticle');
    $catcollection = Mage::getModel('kbase/cat')->getCollection();
    $catcollection->addFieldToFilter('status', 1);
    $catcollection->setOrder('created_time', 'DESC');
    $catcollection->setPageSize($pgsize);
    if ($catcollection->count()):
        ?>
        <div class="kbase-block kbase-main-category">
            <h2 class="kbase-block-title">
                <?php
                if (Mage::getStoreConfig('kbaseoptions/cat/title')):
                    echo Mage::getStoreConfig('kbaseoptions/cat/title');
                else: echo "Categories";
                endif;
                ?> 
            </h2>
            <?php if (!Mage::getStoreConfig('kbaseoptions/general/enableaccordion')): ?>
                <ul class="kbase-list level-0">
                    <?php foreach ($catcollection as $cat): ?>
                        <li>
                            <a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK);
                        ?>kbase/category/<?php echo $cat->getIdentifier(); ?>/"><?php echo $cat->getName(); ?></a>
                            <ul class="level-1">
                                <?php
                                $artcoll = Mage::getModel('kbase/kbase')->getCollection();
                                $artcoll->addFieldToFilter('status', 1);
                                $artcoll->addFieldToFilter('categories', $cat->getId());
                                foreach ($artcoll as $art):
                                    ?>
                                    <li>
                                        <a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK);
                                    ?>kbase/article/<?php echo $art->getIdentifier(); ?>/"><?php echo $art->getTitle(); ?></a>
                                    </li>
                                <?php endforeach; ?>
                            </ul>
                        </li>
                    <?php endforeach; ?>
                </ul>     
            <?php else: ?>
                <div id="accordion-categories">
                    <?php foreach ($catcollection as $cat): ?>
                        <?php if (Mage::helper('kbase')->isAvailable($cat)): ?>
                            <h3> 
                                <span class="kbase-link">
                                    <a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK); ?>kbase/category/<?php echo $cat->getIdentifier(); ?>/"><?php echo $cat->getName(); ?></a>
                                </span>
                                <span style="float:right;" class="kbase-link">
                                    <a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK); ?>kbase/category/<?php echo $cat->getIdentifier(); ?>/"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "/frontend/default/default/images/link.png"; ?>" title="Go to category page"/></a>
                                </span>
                            </h3>
                            <div>
                                <ul style="list-style-type:disc; padding-left: 15px; ">
                                    <?php
                                    $artcoll = Mage::getModel('kbase/kbase')->getCollection();
                                    $artcoll->addFieldToFilter('status', 1);
                                    $artcoll->addFieldToFilter('categories', $cat->getId());
                                    foreach ($artcoll as $art):
                                        ?>
                                        <li> <a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK); ?>kbase/article/<?php echo $art->getIdentifier(); ?>/"><?php echo $art->getTitle(); ?></a>
                                        </li>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                            <?php
                        endif;
                    endforeach;
                    ?>
                </div>
            <?php endif;
            ?>
        </div>
        <?php
    endif;
endif;
// =========== top article block =================================
if (Mage::getStoreConfig('kbaseoptions/top/enable')):
    $totalratingcoll = Mage::getModel('kbase/totalrating')->getCollection();
    $totalratingcoll->setOrder('ratepercentage', 'DESC');
    $totalratingcoll->setPageSize(Mage::getStoreConfig('kbaseoptions/top/noofarticle'));
    if ($totalratingcoll->count()):
        ?>

        <div class="kbase-block kbase-main-top">
            <h2 class="kbase-block-title">
                <?php
                if (Mage::getStoreConfig('kbaseoptions/top/title')):
                    echo Mage::getStoreConfig('kbaseoptions/top/title');
                else: echo $this->__("Top Articles");
                endif;
                ?> 
            </h2>
            <?php if (!Mage::getStoreConfig('kbaseoptions/general/enableaccordion')): ?>
                <ul class="kbase-list level-0">
                    <?php
                    foreach ($totalratingcoll as $ttlcoll):
                        $articledata = Mage::getModel('kbase/kbase')->load($ttlcoll->getArticleid());
                        if ($articledata->getStatus() == 1):
                            ?>
                            <li>
                                <a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK);
                            ?>kbase/article/<?php echo $articledata->getIdentifier(); ?>/"><?php echo $articledata->getTitle(); ?></a>
                            </li>
                            <?php
                        endif;
                    endforeach;
                    ?>
                </ul>
            <?php else: ?>
                <div id="accordion-articles">
                    <?php
                    foreach ($totalratingcoll as $ttlcoll):
                        $articledata = Mage::getModel('kbase/kbase')->load($ttlcoll->getArticleid());
                        if ($articledata->getStatus() == 1):
                            ?>
                            <h3> 
                                <span class="kbase-link">
                                    <a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK); ?>kbase/article/<?php echo $articledata->getIdentifier(); ?>/"><?php echo $articledata->getTitle(); ?></a>
                                </span>
                                <span style="float:right;" class="kbase-link">
                                    <a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK); ?>kbase/article/<?php echo $articledata->getIdentifier(); ?>/"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "/frontend/default/default/images/link.png"; ?>" title="Go to article page"/></a>
                                </span>
                            </h3>
                            <div>
                                <?php echo $articledata['contents']; ?>
                            </div>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </div>
            <?php endif; ?>
        </div>
        <?php
    endif;
endif;
// =========== code for latest article block =================================
if (Mage::getStoreConfig('kbaseoptions/latest/enable')):
    ?>
    <div class="kbase-block kbase-main-latest span9">
        <h2 class="kbase-block-title">
            <?php
            if (Mage::getStoreConfig('kbaseoptions/latest/title')):
                echo Mage::getStoreConfig('kbaseoptions/latest/title');
            else: echo "Latest Articles";
            endif;
            ?> 
        </h2>
        <?php
        $articlecoll = Mage::getModel('kbase/kbase')->getCollection();
        $articlecoll->addFieldToFilter('status', 1);
        $articlecoll->setOrder('created_time', 'DESC');
        $articlecoll->setPageSize(Mage::getStoreConfig('kbaseoptions/latest/noofarticle'));
        if (!Mage::getStoreConfig('kbaseoptions/general/enableaccordion')):
            ?>
            <ul class="kbase-list level-0">
                <?php
                foreach ($articlecoll as $article):
                    ?>
                    <li>
                        <a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK);
                    ?>kbase/article/<?php echo $article->getIdentifier(); ?>/"><?php echo $article->getTitle(); ?></a>
                    </li>
                <?php endforeach; ?>
            </ul>
        <?php else: ?>
            <div id="accordion-recent-articles">

                <?php
                foreach ($articlecoll as $article):
                    ?>
                    <h3> 
                        <span class="kbase-link">
                            <a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK); ?>kbase/article/<?php echo $article->getIdentifier(); ?>/"><?php echo $article->getTitle(); ?></a>
                        </span>
                        <span style="float:right;" class="kbase-link">
                            <a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK); ?>kbase/article/<?php echo $article->getIdentifier(); ?>/"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "/frontend/default/default/images/link.png"; ?>" title="Go to article page"/></a>
                        </span>
                    </h3>
                    <div>
                        <?php echo $article->getContents(); ?>
                    </div>
                <?php endforeach; ?>

            </div>
        <?php endif; ?>
    </div>
    <div class="contact-sidebar span3">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('sidebar-contactus')->toHtml() ?> 
    </div>
    <?php
endif;
?>
<script type="text/javascript">
    function callsearch(url)
    {
        var query = document.getElementById('kbase_search_input').value;
        if (query === "")
        {
            return false;
        }
        document.searchfrm.action = url + query;
        document.searchfrm.submit();
    }

    var accordion = "<?php echo Mage::getStoreConfig('kbaseoptions/general/enableaccordion'); ?>";

    if (accordion === "1")
    {
        jQuery.noConflict();
        jQuery(function() {
            jQuery("#accordion-categories").accordion({
                collapsible: true,
                heightStyle: "content",
                active: false,
            });

            jQuery("#accordion-articles").accordion({
                collapsible: true,
                heightStyle: "content",
                active: false,
            });


            jQuery("#accordion-recent-articles").accordion({
                collapsible: true,
                heightStyle: "content",
                active: false,
            });

            jQuery(".kbase-link a").on("click", function(e) {
                e.stopPropagation();
                location.href = (jQuery(this).attr("href"));
            });
        });
    }
</script>    