<?php
$query = $this->getRequest()->getParam('identifier');
$resquery = explode(" ", $query);

$sort = $this->getRequest()->getParam('dir');

$i = 0;
$artcoll = Mage::getModel('kbase/kbase')->getCollection();
$artcoll->addFieldToFilter('status', 1);
for ($i = 0; $i < count($resquery); $i++):
    $test['title'][$i] = array('like' => "%$resquery[$i]%");
    $test1['contents'][$i] = array('like' => "%$resquery[$i]%");
endfor;
$artcoll->addFieldToFilter(array('title', 'contents'), array($test, $test1));

$ttlart = count($artcoll);
$approved = count($artcoll);

$pgsize = 10;
$pgno = 1;


$protocol = $_SERVER['HTTPS'] == 'on' ? 'https' : 'http';

$pro = $protocol . '://' . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'];

$pgno = parse_url($pro, PHP_URL_QUERY);

if (isset($sort)):
    $artcoll = Mage::getModel('kbase/kbase')->getCollection();
    $artcoll->addFieldToFilter('status', 1);
    for ($i = 0; $i < count($resquery); $i++):
        $test['title'][$i] = array('like' => "%$resquery[$i]%");
        $test1['contents'][$i] = array('like' => "%$resquery[$i]%");
    endfor;
    $artcoll->addFieldToFilter(array('title', 'contents'), array($test, $test1));
    $artcoll->setOrder('created_time', $sort);
else:
    $artcoll = Mage::getModel('kbase/kbase')->getCollection();
    $artcoll->addFieldToFilter('status', 1);
    for ($i = 0; $i < count($resquery); $i++):
        $test['title'][$i] = array('like' => "%$resquery[$i]%");
        $test1['contents'][$i] = array('like' => "%$resquery[$i]%");
    endfor;
    $artcoll->addFieldToFilter(array('title', 'contents'), array($test, $test1));
endif;

$artcoll->setPageSize($pgsize);
$artcoll->setCurPage($pgno);
$size = $approved;
$cnt = count($artcoll);
?>                   
<h1>
<?php
if (Mage::getStoreConfig('kbaseoptions/general/title')):
    echo $this->__(Mage::getStoreConfig('kbaseoptions/general/title'));
else:
    echo $this->__('Knowledge Base');
endif;
?> 
</h1>
    <?php if (Mage::getStoreConfig('kbaseoptions/search/enable')): ?>
    <div class="kbase-block kbase-main-search">
        <h2 class="kbase-block-title">
    <?php
    if (Mage::getStoreConfig('kbaseoptions/search/title')):
        echo $this->__(Mage::getStoreConfig('kbaseoptions/search/title'));
    else:
        echo $this->__('Search Knowledge Base');
    endif;
    ?> 
        </h2>
            <?php
            $url = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK) . "kbase/search/";
            ?>
        <?php $post = $this->getRequest()->getPost(); ?>
        <form method="post" name="searchfrm">
            <input type="text" value="<?php echo $post['query']; ?>" name="query" id="kbase_search_input" 
                   onkeydown="if (event.keyCode == 13)
                                   document.getElementById('btnSearch').click()">
            <button class="button form-button" title="Search" id="btnSearch" type="button" onclick="callsearch('<?php echo $url; ?>')"><span><span>Search</span></span></button>
        </form>
    </div>
<?php endif;
?>
<?php
$breadcrumbs = $this->getLayout()->getBlock('breadcrumbs');

$breadcrumbs->addCrumb('home', array('label' => Mage::helper('cms')->__('Home'), 'title' => Mage::helper('cms')->__('Home Page'), 'link' => Mage::getBaseUrl()));

$breadcrumbs->addCrumb('kbase', array('label' => 'Knowledge Base', 'title' => 'Knowledge Base', 'link' => Mage::getBaseUrl() . "kbase"));

$breadcrumbs->addCrumb('search', array('label' => 'Search results', 'title' => 'Search results'));

echo $this->getLayout()->getBlock('breadcrumbs')->toHtml();

$searchurl = Mage::getBaseUrl() . "kbase/search/" . $query;

$urlRequest = Mage::app()->getFrontController()->getRequest();
$urlPart = $urlRequest->getServer('ORIG_PATH_INFO');
if (is_null($urlPart)) {
    $urlPart = $urlRequest->getServer('PATH_INFO');
}
$urlPart = substr($urlPart, 1);
$currentUrl = $this->getUrl($urlPart);
if ($query != ""):
    ?>
    <h2 style="padding-top:20px"><?php echo 'Search results for "' . $query . '"'; ?></h2>
    <?php if ($ttlart < 1): ?> 
        <p><?php echo $this->__('No articles found'); ?></p>
    <?php else: ?>
        <div class="pager kbase-sorter">
            <div class="sort-by">
                <label>Sort by</label>
                <select onchange="setLocation(this.value)">
                    <option selected="selected" value="date"> Date</option>
                </select>
        <?php if ($sort == "" || $sort == "DESC"): ?>
                    <a title=" Sort Ascending direction" href="<?php echo $searchurl . '/dir/ASC'; ?>"><img alt="Ascending" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . 'frontend/default/default/kbase/images/sort_desc_arrow.gif'; ?> "></a>
                <?php else: ?>
                    <a title=" Sort Descending direction" href="<?php echo $searchurl . '/dir/DESC'; ?>"><img alt="Descending" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . 'frontend/default/default/kbase/images/sort_asc_arrow.gif'; ?> "></a>

        <?php endif; ?>
            </div>
        </div>
        <table width="100%" cellspacing="0" cellpadding="0" id="kbase_category" class="kbase-listing">
            <thead>
                <tr>
                    <th><?php echo $this->__('Article'); ?></th>
                    <th class = "a-center"><?php echo $this->__('Rating'); ?></th>
                    <th class = "a-center"><?php echo $this->__('Date'); ?></th>
                </tr>
            </thead>
            <tbody>
        <?php
        foreach ($artcoll as $art):
            $i++;
            ?>
                    <tr class="kbase-listing kbase-listing-short <?php if ($i % 2 == 0): ?> kbase-even <?php else: ?> kbase-odd <?php endif; ?>" title="">
                        <td class="kbase-listing-general">
                            <a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK);
            ?>kbase/article/<?php echo $art->getIdentifier(); ?>/"><?php echo $art->getTitle(); ?></a>
                        </td>
                        <td class="kbase-listing-rating">
            <?php
            $rates = Mage::getModel('kbase/totalrating')->getCollection();
            $rates->addFieldToFilter('articleid', $art->getId());
            $rate = $rates->getData();
            ?>
                            <div class="rating-box">
                                <div class="rating" style="width: <?php echo $rate[0]['ratepercentage'] . "%"; ?>"></div>
                            </div>
                        </td>
                        <td class="kbase-listing-date-updated"><?php echo Mage::helper('core')->formatDate($art->getUpdateTime(), Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM); ?></td>
                    </tr>
            <?php
        endforeach;
        ?>
            </tbody>
        </table>
        <div class="pager">
            <p class="amount">
        <?php
        if ($ttlart < $pgsize):
            echo $ttlart . " Item(s)";
        else:
            echo "Items 1 to " . $ttlart . " of " . $ttlart . " total";
        endif;
        ?>        
            </p>
                <?php if ($ttlart > $pgsize): ?>
                <div class="pages">
                    <strong>Page:</strong><?php
            //-------paging code-------------------------- 
            $remain_size = ceil($size / $pgsize);
            if ($pgno <= $remain_size && $pgno > 1) {
                $prev = $pgno - 1;
                print "<a href='$_SERVER[PHP_SELF]?$prev' style='text-decoration: none;' ><img class='v-middle' alt='Next' src='" . Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/enterprise/fietspunt/images/pager_arrow_left.gif'>&nbsp&nbsp</a>";
            }
            for ($i = 1; $i <= $remain_size; $i++) {
                if ($pgno == $i)
                    print "<a style='text-decoration: none;' >" . $i . "&nbsp&nbsp</a>";
                else
                    print "<a  href='page?$i' style='text-decoration: none;' >" . $i . "&nbsp&nbsp</a>";
            }

            if ($pgno < $remain_size) {
                $next = $pgno + 1;
                print "<a href='page?$next' style='text-decoration: none;' ><img class='v-middle' alt='Next' src='" . Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/default/images/pager_arrow_right.gif'></a>";
            } else {
                print "<a class='dislink' style='text-decoration: none;' '><img class='v-middle' alt='Next' src='" . Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . "frontend/default/default/images/pager_arrow_right.gif'></a>";
            }
                    ?>
                </div>
                <?php endif;
                ?>
        </div>
        <?php
        endif;
    else:
        echo "No items for search";
    endif;
    ?>
<script type="text/javascript">
    function callsearch(url)
    {
        var query = document.getElementById('kbase_search_input').value;
        if (query != "")
        {
            document.searchfrm.action = url + query;
            document.searchfrm.submit();
        }
    }
</script>    