<div class="sidebar">
    <div class="widget waiting-times white">
        <div class="widget-title">
            <a href="/support/contact"> <h2><font><font class="">Need help?</font></font></h2>
                <p><font><font>
                    View the options
                    </font></font></p> </a>
        </div>
        <div class="widget-content-wrapper">
            <div class="widget-content clearfix">
                <div class="channels">
                    <a href="/support/contact/telefoon.shtml">
                        <div class="contact-container">
                            <i class="icon-phone"></i>
                            <div class="channel-type"><font><font>
                                Call us
                                </font></font></div>
                        </div> </a><a href="http://forum.vodafone.nl/">
                        <div class="contact-container">
                            <i class="icon-comments"></i>
                            <div class="channel-type"><font><font>
                                Forum
                                </font></font></div>
                        </div> </a><a href="/support/contact/vind-een-winkel.shtml">
                        <div class="contact-container">
                            <i class="icon-map-marker"></i>
                            <div class="channel-type"><font><font>
                                Find a store
                                </font></font></div>
                        </div> </a>
                </div>
                <div class="channels-basic">
                    <div class="row-fluid">
                        <div class="span6">
                            <a href="http://www.facebook.com/VodafoneNL" target="_blank" class="shown"> <i class="icon-facebook"></i><font><font> Facebook </font></font></a><a href="https://twitter.com/vodafoneNL" target="_blank" class="shown"> <i class="icon-twitter"></i><font><font> Twitter </font></font></a>
                        </div>
                        <div class="span6">
                            <a href="/support/contact/email-contact.shtml" class="shown"> <i class="icon-envelope-alt"></i><font><font> Email </font></font></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--  end of widget-content -->
        </div>
        <!--  end of widget-content-wrapper -->
    </div>
    <hr class="shadow">
    <div id="lpButton-rightnow" style="visibility: visible;"><a href="#" id="lpDynamicButtonHref-308" style="cursor: default;" title=""><img id="lpDynamicButtonImg-308" name="lpDynamicButtonImg-308" border="0" style="border: 0px none" src="https://myhelp.vodafone.nl/rnt/rnw/img/RightNowChatImages/ButtonTransparant/Transparant.gif" alt=""></a></div>

</div>