/*---------css code for zaptech knowledge base ------------------*/
.kbase {
    display: block;
}
.kbase-block {
     display: block;
    margin: 0;
    padding: 10px 30px;
}
.kbase-block-main {
    display: block;
}
.kbase-block-search {
    display: block;
}
.kbase-block-title {
}
.kbase-listing {
    border: 1px solid #C4C1BC;
}
.kbase-list .level-1{ padding-left:25px; }

.kbase-listing thead th {
    background: url("../../images/bkg_th.gif") repeat-x scroll 0 100% #D9E5EE;
    border-bottom: 0 none !important;
    border-right: 1px solid #C2D3E0;
    color: #0A263C;
    font-weight: bold;
    padding: 2px 8px;
    vertical-align: middle;
    white-space: nowrap;
}
.kbase-listing tbody td {
    border-bottom: 1px solid #D9DDE3;
}
.kbase-listing td {
    padding: 10px;
}
.kbase-odd {
    background: none repeat scroll 0 0 #F8F7F5;
}
.kbase-even {
    background: none repeat scroll 0 0 #EEEDED;
}
.kbase-listing tbody td.kbase-listing-general {
    border-right: 1px solid #D9DDE3;
	width: 80%;
}
.kbase-sorter {
    background: url("../images/bkg_toolbar.gif") repeat-x scroll 0 100% #FFFFFF;
    border-top: 1px solid #E2E2E2;
    font-size: 11px;
    height: 19px;
    padding: 4px 8px;
    text-align: left;
}
.kbase-sorter:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
.kbase-sorter .sort-by {
    float: right;
    padding-right: 36px;
}
.pager {
    background: url("../images/bkg_toolbar.gif") repeat-x scroll 0 100% #FFFFFF;
    border-top: 1px solid #E2E2E2;
    font-size: 11px;
    padding: 4px 8px;
    text-align: center;
}
.pager .amount {
    float: left;
    margin: 0;
}
.pager .pages {
    margin: 0 140px;
}
pager .pages .current {
}

.pager .pages li {
    display: inline;
    margin: 0 2px;
}
.kbase-listing tbody td.kbase-listing-rating {
    border-right: 1px solid #D9DDE3;
    text-align: center;
}

.kbase-listing tbody td {
    border-bottom: 1px solid #D9DDE3;
}

.kbase-listing td {
    padding: 10px;
}

.kbase-main-search input {
    padding: 1px;
    width: 500px;
}
.kbase-article-rating:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}

.kbase-article-rating {
margin-top: 20px;
}
.kbase-article-rating span {
    float: left;
}
.kbase-article-rating form {
    float: right;
}
.kbase-article-rating p{
	float: right;
}
